/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 75px;
  height: 100%;
}

h1,h2,h3,h4,h5 {
  font-family: 'Playfair Display SC', serif;
  color: rgb(149,102,53);
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}

a {
  color: rgb(149,102,53);
  font-weight: bold;
  text-decoration: none;
}

p {
  color: #666;
}

blockquote {
  text-align: center;
}

.flex {
  display: flex;
  flex: 1;
}

.index-page {
  background-image: url(./The-Orangery-0011.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  flex: 1;
}

.panel {
  display: flex;
  flex-direction: column;
  flex: 2;

  text-align: center;
}

.image {
  display: flex;
  flex: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav {
  font-family: 'Playfair Display SC', serif;
  display: flex;
  justify-content: space-around;
}
